# Ignorar a pasta do Visual Studio
.vs/
.vs/*

# Ignorar arquivos específicos do Visual Studio
*.suo
*.user
*.cache
*.pdb
*.log
*.opendb

# Ignorar arquivos DocumentLayout
**/DocumentLayout.json
**/DocumentLayout.backup.json
